<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>moe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='moe.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">萌え萌えキュン (⸝⸝> ᴗ•⸝⸝)</a></li>
            <li>
                <a href="https://discord.com/oauth2/authorize?client_id=1326853669089574952" target="_blank">
                    <button class="primary-btn">Add to Server</button>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <ul>
            <li>&copy; {{ year }} All rights reserved.</li>
            <li><a href="https://github.com/CheapNightbot/moe" target="_blank">GitHub</a></li>
        </ul>
    </footer>

</body>

</html>
