<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>moe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='moe.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pink.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/"><strong>moe <span style="font-family: Murecho, sans-serif;">♡ (⸝⸝> ᴗ•⸝⸝)</span></strong></a></li>
        </ul>
        <ul>
            <li>
                <details class="dropdown">
                    <summary>
                        <!-- Account -->
                        <div class="user">
                            <img src="{{ url_for('static', filename='moe.gif') }}" alt="moe">
                        </div>
                    </summary>
                    <ul dir="rtl" class="user-opt">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <div>&copy; 2025 All rights reserved.</div>
        <div id="footer-socials">
            <div>Discord</div>
            <div">GitHub</div>
        </div>
    </footer>

    <script>
        function switchTheme() {
            document.documentElement.setAttribute('data-theme', document.documentElement.getAttribute('data-theme') === 'light' ? 'dark' : 'light')
        }
    </script>
</body>

</html>
