@font-face {
  font-family: Murecho;
  src: url(./fonts/Murecho/Murecho-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Kaisei Decol";
  src: url(./fonts/Kaisei_Decol/KaiseiDecol-Bold.ttf);
}

@font-face {
  font-family: Dongle;
  src: url(./fonts/Dongle/Dongle-Regular.ttf);
}

body {
  font-family: "Kaisei Decol", sans-serif;
}
